*{
  font-family: 微軟正黑體;
  font-weight: bold;
}
h4 {
  margin: 0;
}

body, html {
  background-image: url(http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg);t
  background-attachment: fixed;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.box {
  margin: 10px 10px;
  width: 300px;
  border: solid 1px #777;
  display: inline-block;
  transition-duration: 1s;
}
.box:hover {
  box-shadow: 10px 10px 10px #222;
  filter: brightness(1.5);
  transition-duration: 0.5s;
  transition-delay: 0.2s;
  background-color: #ccc;
}

.box:nth-child(3n) {
  margin-right: 5px;
}

.top {
  cursor: pointer;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.top img {
  height: 100%;
}

.bottom {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-around;
  align-items: center;
}
.bottom .photo img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}
.bottom .textbox {
  width: 200px;
  color: #ddd;
}
.bottom .channel, .bottom .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  right: 12px;
}
.bottom .name {
  position: relative;
  right: 14px;
}
